<!-- reshna-attendance-->
{% extends 'app1/base.html' %}
{% block body %}
    {% load static %}

    <style>
        .hide{
			display: none;
    	}
        input:read-only {
            background-color: rgba(0,0,0,.4) !important;
            color: #fff;
        }
    </style>
    <script>
        $(':input[readonly]').css({'background-color':'rgba(0,0,0,.4)'});
    </script>

    <div class="page-content">
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center><h3 class="mb-0">EDIT ATTENDANCE</h3></center>
                </div>
                <hr/>
            </div>
        </div>
        <div class="card radius-15" style="background-color: #243e54;">
            <div class="card-body">
               
                     <div class="card-title">
                      <h4 class="mb-0">Attendance Details</h4>
                </div>
                <hr/>
                <form method="post" action="{% url 'edit_attendance'  attendance_record.atid %}" autocomplete="off">
                    {% csrf_token %}
                    <div class="row mt-2 mb-2">
                        <div class="col-md-6">
                            <label for="date">Employee</label>
                            <select name="employee_id" id="employee_id" class="custom-select">
                                <option value="{{ attendance_record.employee }}" selected>
                                    {{ attendance_record.employee }}
                                </option>
                                {% for e in employees %}
                                <option value="{{ e.employeeid }} {{ e.firstname }} {{ e.lastname }}">
                                    {{ e.title }} {{ e.firstname }} {{ e.lastname }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="date">Date</label>
                            <input type="date" name="date" id="date" class="custom-select-md form-control w-100" value="{% if attendance_record %}{{ attendance_record.date|date:'Y-m-d' }}{% endif %}">
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="status">Status</label>
                            <select class="form-control" id="status" name="status" required>
                                <option value="Present" {% if attendance_record and attendance_record.status == 'Present' %}selected{% endif %}>Present</option>
                                <option value="Absent" {% if attendance_record and attendance_record.status == 'Absent' %}selected{% endif %}>Absent</option>
                            </select>
                        </div>
                    </div>
                   
                    <div class="row mt-3">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                <label>Agree to terms and conditions</label>
                                <div class="invalid-feedback">You must agree before submitting.</div>
                            </div>
                        </div>
                    </div>
                  
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 mt-4 mb-4">
                            <button type="submit" class="btn btn-outline-info rounded-pill w-100">EDIT</button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </form>
            </div>
        </div>
                   
            
          
        </div>
    </div>
</div>
</div>  
  


   
    
{% endblock %}