<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fin sYs</title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js" ></script>
    
    
</head>
<style>
    
    
    .table2
    {
        text-align: center;
        padding-top: 6px;
        font-size: 1.1em;
        background-color:azure
       
    }
    
    .table-head
    {
        color: rgb(52, 49, 58);
        
       
    }
    .table2 .tbody tr 
    {
       margin-bottom: 3px;
    }
    .table3{
        width:75px;
        text-align: right;
        font-size: 14px;
    }
    body{
        font-size: 14px;
    }
    
</style>

<body>

    <div class="my-5 page" size="A4" >
        <div class="p-5">
            <div id="ember2512" class="tooltip-container ember-view ribbon text-ellipsis">
                <div class="ribbon-inner ribbon-open" style="background-color: #268ddd; margin-right: 600px; color: white; text-align: center; padding-top: 10px;">{{sale.status}}<!----></div></div>
            <!-- <section class="top-content bb d-flex justify-content-between">
                <div class="logo">
                  
                </div>
                <div class="top-left">
                    <div class="graphic-path" style="text-align: right;padding-top: 10px;background-color:#22b8d1;margin-left: 550px; text-align: center; color :rgb(0, 0, 0)">
                        <p>Sales Order</p>
                    </div>
                    <div class="position-relative" style="margin-left: 550px;text-align: center">
                        <p>Sales Order No. <span>{{sale.saleno  }}</span></p>
                    </div>
                </div>
            </section> -->
            <hr>
            <table class="table1">
                
                <tbody>
                    <tr style="font-weight: bolder;">
                        <td>From,</td>
                        
                    </tr>
                    <tr>
                        <td>{{cmp1.cname }}</td>
                        <td>{{cust.title}} {{cust.firstname}} {{cust.lastname}}</td>
                    </tr>
                    <tr>
                        <td>{{cmp1.caddress}}<br>{{cmp1.city}}<br>{{cmp1.state}}<br>{{cmp1.pincode}}</td>
                        <td style="width: 200px;">Journal No :{{ sale.mj_no }} <br>
                        Date :{{ sale.date }} <br>
                        Amount :{{ sale.total_deb }} <br>
                        Reference No :{{ sale.ref_no }}</td>
                    </tr>
                    
                </tbody>

            </table>
            <hr>
            <section class="store-user mt-5">
                <table class="table1" style="margin: 25px;">
                    <th>
                        NOTES: {{sale.notes}}
                    </th>
                    <!-- <th>
                        Expected Shipment Date : {{sale.shipmentdate | date:'d-m-Y'}}
                    </th> -->
                </table>
                
                    
                
            </section>

            <section class="product-area mt-4">
                <table class="table2 table-hover">
                    <thead>
                        <tr>
                            <td>ACCOUNT</td>
                            <td>CONTACT</td>
                            <td>DEBITS</td>
                            <td>CREDITS</td>
                            
                        </tr>
                    </thead>
                    <tbody>

                        {% for j in saleitem %}
                        <tr>
                            <td>
                                <div class="media">
                                    
                                    <div class="media-body">
                                        <p class="mt-0 title" style="color:black">{{j.account}}</p>
                                        
                                    </div>
                                </div>
                            </td>
                            <td style="color:black">{{j.contact}}</td>
                            <td style="color:black">{{j.debit}}.00</td>
                            <td style="color:black">{{j.credit}}.00</td>
                            
                        </tr>
                        {% endfor %}

                        <tr></tr>
                        <tr style="width: 100%;margin-top: 1px;color:black; font-weight:bold"  >
                            <td colspan="2" class="table-head" style="font-size:13px;color:black; font-weight:bold">Sub Total</td>
                            <td class="pcs-total-section-value text-align-center" style="color: #000000;">{{ sale.s_totaldeb }}.00</td>
                            <td class="pcs-total-section-value text-align-right" style="color: #000000;">{{ sale.s_totalcre }}.00</td>
                        </tr>
                        <tr  style="height:40px;" class="pcs-balance">
                            <td colspan="2"  style="padding:5px 10px 5px 0;font-size:16px;color:black; font-weight:bold"><b>Total</b></td>
                            <td style="font-size:16px;color:black; font-weight:bold"><b>{{ sale.total_deb }}.00</b></td>
                            <td style="font-size:16px;color:black; font-weight:bold"><b>{{ sale.total_cre }}.00</b></td>
                        </tr>
                       


                        
                    </tbody>
                </table>
            </section>

            <!-- <section class="balance-info">
                <div class="row my-5">
                    <div class="col-6">
                        <h3 class="m-0 font-weight-bold" style="color:black"> Note : &nbsp; &nbsp;{{sale.note}}</h3>

                    </div>
                    <div class="col-4">
                        <table class="table3 border-0 table-hover">
                            <tr >
                                <th colspan="9"  ><span style="float: right;margin-right: 14px;">Sub Total :</span></th>
                                <td style="color:black; font-weight: bold;">{{sale.subtotal}}</td>
                            </tr>
                            <tr style="display: none;" >
                                <td id="cmp">
                                    {{cmp1.state}}
                                </td>
                                <td id="sply">
                                    {{sale.placeofsupply}}
                                </td>
                            </tr>
                            {% if igst != 0 %}
                            <tr id="igstrow">
                              <th colspan="9"  ><span style="float: right;margin-right: 14px;">IGST</span></th>
                              
                              <td style="font-weight: bold;" id="igst"> {{sale.IGST}}</td>
                            </tr>
                            {% endif %}
                            {% if cgst != 0 %}
                            <tr id="cgstrow">
                              <th colspan="9"  ><span style="float: right;margin-right: 14px;">CGST</span></th>
                              
                              <td style="font-weight: bold;" id="cgst"> {{sale.CGST}}</td>
                            </tr>
                            {% endif %}
                            {% if sgst != 0 %}
                            <tr id="sgstrow">
                              <th colspan="9"  ><span style="float: right;margin-right: 14px;">SGST</span></th>
                              
                              <td style="font-weight: bold;" id="sgst"> {{sale.SGST}}</td>
                            </tr>
                            {% endif %}

                            <tr>
                                <th colspan="9" ><span style="color:black; float: right;margin-right: 14px;">Tax Amount :</span></th>
                                <td style="color:black; font-weight:bold">{{sale.taxamount}}</td>
                            </tr>

                            <tr>
                                <th colspan="9" ><span style="color:black; float: right;margin-right: 14px;"> Shipping Charge :</span></th>
                                <td style="color:black; font-weight:bold">{{sale.shipping_charge}}</td>
                            </tr>
                            <tfoot>
                                <tr>
                                    <th colspan="9"  ><span style="float: right;margin-right: 14px;">Sales Total:</span></th> 
                                    <td style="color:black ;font-weight: bold;">{{sale.salestotal}}</td>
                                </tr>
                            </tfoot>
                        </table>

                      
                    </div>
                    
                </div>
                <hr>
                <div class="row mt-5 p-5" style="padding: 50%;">
                    <div class="col-md-12" >
                        <p class="gray-ish terms" style="text-align: right; font-size: 14px;"><b>{{cmp1.cname}}</b><br>
                        <br>
                
                        Authorised Signatory</p>
                    </div>
                </div>
            </section> -->

            <!-- Cart BG -->
            <img src="cart.jpg" class="img-fluid cart-bg" alt="">

            
        </div>
    </div>
      
    
    
</body>

</html>